/*
 -  Scaffolding
 -
 -  This file defines content scaffolding for Liferay theme
 */


// Set custom scaffolding only in the content of portlets, not in Liferay header or controls
& {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color; // change this to $body-color for Bootstrap 4
}