/*
 -	Variables - Accordion
 */


$accordion-header-padding:        $grid-gutter-width;
$accordion-header-bg-color:       darken($theme-white, 5%);
$accordion-content-padding:       $grid-gutter-width;
