/*
 -	Variables - Colors
 */


$theme-white:                   #fff;                              // Pure white color
$theme-black:                   #000;                              // Pure black color
$theme-blue:                    #007bff;

$theme-bg:                      $theme-white;
$primary:                       $theme-blue;
$secondary:                     $theme-black;
