/*
 -	Variables - General
 */


$ordered-list-margin-bottom:      1rem;
$unordered-list-margin-bottom:    1rem;

$image-margin-bottom:             1rem;

$body-bg:                         $theme-bg;
$text-color:                      #333;
$body-color:                      $text-color;

$disabled-opacity:                .38;
$disabled-color:                  $body-color;
