<meta charset="utf-8">

<!-- Viewport settings, change these settings only if its reqiured by the project ! -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Please fill this meta tags with apropriate content provided by the project -->
<meta name="author" content="Lundegaard a.s.">
<meta name="description" content="...">
<meta name="keywords" content="...">