<main>
	<div class="container">
		<noscript>
			<div class="row">
				<div class="col">
					<div class="js-disclaimer">
						<div class="alert alert--border alert-warning">
							Máte vypnutý nebo nedostupný JavaScript.
						</div>
					</div>
				</div>
			</div>
		</noscript>
		<div class="mp-section">
			<div class="row">
				<div class="col-12">
					<h1 class="mp-section__title">Master Page</h1>
				</div>
				<div class="col-12">
					<h2 class="mp-section__title">Content</h2>
				</div>
				<div class="col-12">
					<a href="#accordions" class="btn btn-primary">Accordions</a>
					<a href="#buttons" class="btn btn-primary">Buttons</a>
					<a href="#breadcrumbs" class="btn btn-primary">Breadcrumbs</a>
					<a href="#colors" class="btn btn-primary">Colors</a>
					<a href="#forms" class="btn btn-primary">Forms</a>
					<a href="#headlines-text-blocks" class="btn btn-primary">Headlines &amp; Text blocks</a>
					<a href="#icons" class="btn btn-primary">Icons</a>
					<a href="#links" class="btn btn-primary">Links</a>
					<a href="#lists" class="btn btn-primary">Lists</a>
					<a href="#tables" class="btn btn-primary">Tables</a>
					<a href="#tabs" class="btn btn-primary">Tabs</a>
				</div>
			</div>
		</div>
		<div class="mp-section" id="colors">
			<div class="row">
				<div class="col">
					<h2 class="mp-section__title">Colors</h2>
					<p>$theme-{x}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
					<div class="mp-support-color-1">
						<div class="mp-support-color__value">black</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
					<div class="mp-support-color-2">
						<div class="mp-support-color__value">white</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
					<div class="mp-support-color-3">
						<div class="mp-support-color__value">blue</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mp-section" id="icons">
				<div class="row">
					<div class="col">
						<h2 class="mp-section__title">Icons</h2>
						<p>icon-{x}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
						<div class="mp-support-icon">
							<span class="icon icon-arrow-left"></span>
							<div class="mp-support-icon__value">arrow-left</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
						<div class="mp-support-icon">
							<span class="icon icon-arrow-right"></span>
							<div class="mp-support-icon__value">arrow-right</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
						<div class="mp-support-icon">
							<span class="icon icon-arrow-up"></span>
							<div class="mp-support-icon__value">arrow-up</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
						<div class="mp-support-icon">
							<span class="icon icon-arrow-down"></span>
							<div class="mp-support-icon__value">arrow-down</div>
						</div>
					</div>
				</div>
			</div>
		<div class="mp-section" id="headlines-text-blocks">
			<div class="row">
				<div class="col-12">
					<h2 class="mp-section__title">Headlines &amp; Text blocks</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6">
					<h1>Headline H1</h1>
					<h2>Headline H2</h2>
					<h3>Headline H3</h3>
					<h4>Headline H4</h4>
				</div>
				<div class="col-12 col-md-6">
					<p>
						Sed congue vitae velit a dictum. Nam at pellentesque ex, eget dictum felis. Donec volutpat suscipit justo, hendrerit consectetur tortor mattis at. Sed eget urna feugiat, cursus arcu sed, consectetur ex. Vestibulum nulla magna, blandit non dolor et, congue auctor lorem. Morbi vestibulum ac sapien ut sodales. Vestibulum vel turpis a sapien posuere congue. Aliquam convallis, urna in mollis dapibus, dui sapien facilisis augue, faucibus cursus mauris nisl et tellus.
					</p>
				</div>
			</div>
		</div>
		<div class="mp-section" id="lists">
			<div class="row">
				<div class="col-12">
					<h2 class="mp-section__title">Lists (unordered, ordered)</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6">
					<ul>
						<li>Lorem ipsum dolor sit amet consectetuer adipiscing elit</li>
						<li>Donec quam felis ultricies nec pellentesque eu pretium quis sem nulla consequat massa quis enim</li>
						<li>
							Lorem ipsum dolor sit amet consectetuer adipiscing elit
							<ul>
								<li>Lorem ipsum dolor sit amet consectetuer adipiscing elit</li>
								<li>Donec quam felis ultricies nec pellentesque eu pretium quis sem nulla consequat massa quis enim</li>
								<li>
									Lorem ipsum dolor sit amet consectetuer adipiscing elit
									<ul>
										<li>Lorem ipsum dolor sit amet consectetuer adipiscing elit</li>
										<li>
											Lorem ipsum dolor sit amet consectetuer adipiscing elit
											<ul>
												<li>Lorem ipsum dolor sit amet consectetuer adipiscing elit</li>
												<li>Pretium quis sem nulla consequat massa quis enim</li>
											</ul>
										</li>
										<li>Lorem ipsum dolor sit amet consectetuer adipiscing elit</li>
										<li>Pretium quis sem nulla consequat massa quis enim</li>
									</ul>
								</li>
								<li>Pretium quis sem nulla consequat massa quis enim</li>
							</ul>
						</li>
						<li>Pretium quis sem nulla consequat massa quis enim</li>
					</ul>
				</div>
				<div class="col-12 col-md-6">
					<ol>
						<li>Lorem ipsum dolor sit amet consectetuer adipiscing elit</li>
						<li>Donec quam felis ultricies nec pellentesque eu pretium quis sem nulla consequat massa quis enim</li>
						<li>
							Lorem ipsum dolor sit amet consectetuer adipiscing elit
							<ol>
								<li>Lorem ipsum dolor sit amet consectetuer adipiscing elit</li>
								<li>Donec quam felis ultricies nec pellentesque eu pretium quis sem nulla consequat massa quis enim</li>
								<li>
									Lorem ipsum dolor sit amet consectetuer adipiscing elit
									<ul>
										<li>Lorem ipsum dolor sit amet consectetuer adipiscing elit</li>
										<li>
											Lorem ipsum dolor sit amet consectetuer adipiscing elit
											<ol>
												<li>Lorem ipsum dolor sit amet consectetuer adipiscing elit</li>
												<li>Pretium quis sem nulla consequat massa quis enim</li>
											</ol>
										</li>
										<li>Lorem ipsum dolor sit amet consectetuer adipiscing elit</li>
										<li>Pretium quis sem nulla consequat massa quis enim</li>
									</ul>
								</li>
								<li>Pretium quis sem nulla consequat massa quis enim</li>
							</ol>
						</li>
						<li>Pretium quis sem nulla consequat massa quis enim</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="mp-section" id="buttons">
			<div class="row">
				<div class="col-12">
					<h2 class="mp-section__title">Buttons</h2>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-12">
					<h3 class="mp-section__title">Primary</h3>
				</div>
				<div class="col-12 col-md-2 col-lg-3">
					<h4>Button</h4>
				</div>
				<div class="col-12 col-md-3 mb-1">
					<button type="button" class="btn btn-primary btn-sm">Small</button>
				</div>
				<div class="col-12 col-md-3 mb-1">
					<button type="button" class="btn btn-primary">Normal</button>
				</div>
				<div class="col-12 col-md-4 col-lg-3 mb-1">
					<button type="button" class="btn btn-primary btn-lg">Large</button>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-12 col-md-2 col-lg-3">
					<h4>Disabled</h4>
				</div>
				<div class="col-12 col-md-3 mb-1">
					<button type="button" class="btn btn-primary btn-sm btn-disabled" disabled="disabled">Small</button>
				</div>
				<div class="col-12 col-md-3 mb-1">
					<button type="button" class="btn btn-primary btn-disabled" disabled="disabled">Normal</button>
				</div>
				<div class="col-12 col-md-4 col-lg-3 mb-1">
					<button type="button" class="btn btn-primary btn-lg btn-disabled" disabled="disabled">Large</button>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-12">
					<h3 class="mp-section__title">Default</h3>
				</div>
				<div class="col-12 col-md-2 col-lg-3">
					<h4>Button</h4>
				</div>
				<div class="col-12 col-md-3 mb-1">
					<button type="button" class="btn btn-secondary btn-sm">Small</button>
				</div>
				<div class="col-12 col-md-3 mb-1">
					<button type="button" class="btn btn-secondary">Normal</button>
				</div>
				<div class="col-12 col-md-4 col-lg-3 mb-1">
					<button type="button" class="btn btn-secondary btn-lg">Large</button>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-12 col-md-2 col-lg-3">
					<h4>Disabled</h4>
				</div>
				<div class="col-12 col-md-3 mb-1">
					<button type="button" class="btn btn-secondary btn-sm btn-disabled" disabled="disabled">Small</button>
				</div>
				<div class="col-12 col-md-3 mb-1">
					<button type="button" class="btn btn-secondary btn-disabled" disabled="disabled">Normal</button>
				</div>
				<div class="col-12 col-md-4 col-lg-3 mb-1">
					<button type="button" class="btn btn-secondary btn-lg btn-disabled" disabled="disabled">Large</button>
				</div>
			</div>
		</div>
		<div class="mp-section" id="links">
			<div class="row">
				<div class="col-12">
					<h2 class="mp-section__title">Links</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-3 offset-md-2 offset-lg-3 mb-1">
					<a href="#" class="link">Link</a>
				</div>
				<div class="col-12 col-md-3 mb-1">
					<a href="#" class="link disabled">Disabled Link</a>
				</div>
			</div>
		</div>
		<div class="mp-section" id="breadcrumbs">
			<div class="row">
				<div class="col-12">
					<h2 class="mp-section__title">Breadcrumbs</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<nav>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item"><a href="#">Library</a></li>
							<li class="breadcrumb-item active">Data</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
		<div class="mp-section" id="accordions">
			<h2 class="mp-section__title">Accordions</h2>
			<div class="accordion-parent" id="accordion-example">
				<div class="accordion">
					<div class="accordion__header">
						<button class="btn btn-link accordion__btn" type="button" data-toggle="collapse" data-target="#collapse-one" aria-expanded="true">
							Collapsible Group Item #1
						</button>
					</div>
					<div class="accordion__content collapse show" id="collapse-one" data-parent="#accordion-example">
						<p class="mb-0">
							Sed congue vitae velit a dictum. Nam at pellentesque ex, eget dictum felis. Donec volutpat suscipit justo, hendrerit consectetur tortor mattis at. Sed eget urna feugiat, cursus arcu sed, consectetur ex. Vestibulum nulla magna, blandit non dolor et, congue auctor lorem. Morbi vestibulum ac sapien ut sodales. Vestibulum vel turpis a sapien posuere congue. Aliquam convallis, urna in mollis dapibus, dui sapien facilisis augue, faucibus cursus mauris nisl et tellus.
						</p>
					</div>
				</div>
				<div class="accordion">
					<div class="accordion__header">
						<button class="btn btn-link accordion__btn" type="button" data-toggle="collapse" data-target="#collapse-two" aria-expanded="true">
							Collapsible Group Item #2
						</button>
					</div>
					<div class="accordion__content collapse" id="collapse-two" data-parent="#accordion-example">
						<p class="mb-0">
							Sed congue vitae velit a dictum. Nam at pellentesque ex, eget dictum felis. Donec volutpat suscipit justo, hendrerit consectetur tortor mattis at. Sed eget urna feugiat, cursus arcu sed, consectetur ex. Vestibulum nulla magna, blandit non dolor et, congue auctor lorem. Morbi vestibulum ac sapien ut sodales. Vestibulum vel turpis a sapien posuere congue. Aliquam convallis, urna in mollis dapibus, dui sapien facilisis augue, faucibus cursus mauris nisl et tellus.
						</p>
					</div>
				</div>
				<div class="accordion">
					<div class="accordion__header">
						<button class="btn btn-link accordion__btn" type="button" data-toggle="collapse" data-target="#collapse-three" aria-expanded="true">
							Collapsible Group Item #3
						</button>
					</div>
					<div class="accordion__content collapse" id="collapse-three" data-parent="#accordion-example">
						<p class="mb-0">
							Sed congue vitae velit a dictum. Nam at pellentesque ex, eget dictum felis. Donec volutpat suscipit justo, hendrerit consectetur tortor mattis at. Sed eget urna feugiat, cursus arcu sed, consectetur ex. Vestibulum nulla magna, blandit non dolor et, congue auctor lorem. Morbi vestibulum ac sapien ut sodales. Vestibulum vel turpis a sapien posuere congue. Aliquam convallis, urna in mollis dapibus, dui sapien facilisis augue, faucibus cursus mauris nisl et tellus.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mp-section" id="tabs">
			<div class="row">
				<div class="col-12">
					<h2 class="mp-section__title">Tabs</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#">Active</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#">Disabled</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="mp-section" id="forms">
			<div class="row">
				<div class="col-12">
					<h2 class="mp-section__title">Forms</h2>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-12">
					<div class="row mb-2">
						<div class="col-md-3">
							<h3>Input</h3>
						</div>
						<div class="col-md-9">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="example-input-1" class="control-label">Label</label>
										<input type="text" class="form-control" id="example-input-1" placeholder="Normal input">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="example-input-2" class="control-label">Error</label>
										<input type="text" class="form-control is-invalid" id="example-input-2" placeholder="Error" value="Label">
										<span class="invalid-feedback">Chyba: Lorem ipsum dolor sit amet</span>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="example-input-3" class="control-label">Disabled</label>
										<input type="text" class="form-control" id="example-input-3" placeholder="Disabled input" disabled="disabled" value="Disabled">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="example-input-4" class="control-label">Readonly</label>
										<input type="text" class="form-control" id="example-input-4" placeholder="Readonly input" readonly="readonly" value="Readonly">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-md-3">
							<h3>Textarea</h3>
						</div>
						<div class="col-md-9">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="example-textarea-1" class="control-label">Label</label>
										<textarea class="form-control" id="example-textarea-1" placeholder="Normal textarea"></textarea>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="example-textarea-2" class="control-label">Error</label>
										<textarea class="form-control is-invalid" id="example-textarea-2" placeholder="Normal textarea"></textarea>
										<span class="invalid-feedback">Chyba: Lorem ipsum dolor sit amet</span>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="example-textarea-3" class="control-label">Disabled</label>
										<textarea class="form-control" id="example-textarea-3" placeholder="Disabled textarea" disabled="disabled"></textarea>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="example-textarea-4" class="control-label">Readonly</label>
										<textarea class="form-control" id="example-textarea-4" placeholder="Readonly textarea" readonly></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-md-3">
							<h3>Radio</h3>
						</div>
						<div class="col-md-9">
							<div class="row">
								<div class="col-md-6 mb-4">
									<div class="form-check">
										<input class="form-check-input" type="radio" id="example-radio-1" checked>
										<label class="form-check-label" for="example-radio-1">
											Default radio
										</label>
									</div>
								</div>
								<div class="col-md-6 mb-4">
									<div class="form-check">
										<input class="form-check-input" type="radio" id="example-radio-2">
										<label class="form-check-label" for="example-radio-2">
											Second default radio
										</label>
									</div>
								</div>
								<div class="col-md-6 mb-4">
									<div class="form-check">
										<input class="form-check-input is-invalid" type="radio" id="example-radio-3">
										<label class="form-check-label" for="example-radio-3">
											Error
										</label>
										<div class="invalid-feedback">Chyba: Lorem ipsum dolor sit amet</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-check">
										<input class="form-check-input" type="radio" id="example-radio-4" disabled>
										<label class="form-check-label" for="example-radio-4">
											Disabled radio
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mp-section" id="tables">
			<div class="row">
				<div class="col-12">
					<h2 class="mp-section__title">Tables</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-10">
					<table class="table">
						<thead>
							<tr>
								<th>ID číslo</th>
								<th>Zaměstnavatel</th>
								<th>Lékař</th>
								<th>Datum vzniku</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>0356879</td>
								<td>Firma s.r.o.</td>
								<td>Jméno Příjmení</td>
								<td>19. 10. 2017</td>
							</tr>
							<tr>
								<td>0356879</td>
								<td>Firma s.r.o.</td>
								<td>Jméno Příjmení</td>
								<td>19. 10. 2017</td>
							</tr>
							<tr>
								<td>0356879</td>
								<td>Firma s.r.o.</td>
								<td>Jméno Příjmení</td>
								<td>19. 10. 2017</td>
							</tr>
							<tr>
								<td>0356879</td>
								<td>Firma s.r.o.</td>
								<td>Jméno Příjmení</td>
								<td>19. 10. 2017</td>
							</tr>
							<tr>
								<td>0356879</td>
								<td>Firma s.r.o.</td>
								<td>Jméno Příjmení</td>
								<td>19. 10. 2017</td>
							</tr>
							<tr>
								<td>0356879</td>
								<td>Firma s.r.o.</td>
								<td>Jméno Příjmení</td>
								<td>19. 10. 2017</td>
							</tr>
							<tr>
								<td>0356879</td>
								<td>Firma s.r.o.</td>
								<td>Jméno Příjmení</td>
								<td>19. 10. 2017</td>
							</tr>
							<tr>
								<td>0356879</td>
								<td>Firma s.r.o.</td>
								<td>Jméno Příjmení</td>
								<td>19. 10. 2017</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="debug-viewports">
			<div class="debug-viewports__viewport d-xs-block d-sm-none">
				Extra Small devices
			</div>
			<div class="debug-viewports__viewport d-none d-sm-block d-md-none">
				Small devices (SM - from 540px)
			</div>
			<div class="debug-viewports__viewport d-none d-md-block d-lg-none">
				Medium devices (MD - from 720px)
			</div>
			<div class="debug-viewports__viewport d-none d-lg-block d-xl-none">
				Large devices (LG - from 960px)
			</div>
			<div class="debug-viewports__viewport d-none d-xl-block">
				Extra Large devices (XL - from 1140px)
			</div>
		</div>
	</div>
</main>