<!DOCTYPE html>
<html lang="cs">

<head>
	${require('../templates/meta/head.html')}
</head>

<body>
	<!-- Content -->
	{{#if projectType}}
		<div class="lundegaard">
			${require('../templates/contents/index.html')}
		</div>
	{{else}}
	${require('../templates/contents/index.html')}
	{{/if}}

	<!-- Footer -->
	${require('../templates/layout/footer.html')}
</body>

</html>